# 依赖包（别人拿到代码后自己 npm install 即可）
node_modules/

# 打包产物（太大了，别人可以自己打包）
dist/

# macOS 系统文件
.DS_Store

# 编辑器配置
.vscode/
.idea/

# 日志
*.log
doc_current.citadelmd
doc_new.citadelmd
*.citadelmd
PRD.md
PRD_V2.md
sort-logic-doc.md
*.citadelmd
